@import url(./fonts/Mont/stylesheet.css);

body {
    font-family: Mont, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #0B0614;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.logo {
    font-size: 28px;
    font-weight: 800;
    line-height: 36px;
    display: flex;
    align-items: center;
}

.logo p {
    margin-right: 25px;
}

.header_search {
    border-left: 2px solid rgba(11, 6, 20, 0.30);
    padding: 5px 25px;
    display: flex;
    align-items: center;
}


.header_search input {
    border: 0;
    color: rgba(11, 6, 20, 0.30);
    font-size: 16px;
    padding-left: 10px;
}

.nav_menu li {
    display: inline;
    margin-right: 40px;
}

.nav_menu a {
    text-decoration: none;
    color: #0B0614;
    font-size: 16px;
    transition: 0.5s;
    opacity: 0.8;
}

.nav_menu a:hover {
    opacity: 0.5;
}

.orange_btn {
    padding: 20px 30px;
    border-radius: 12px;
    background: #FF5029;
    color: #FFF;
    font-size: 17px;
    border: 0;
    gap: 10px;
    transition: 0.5s;
}

.orange_btn:hover {
    background-color: #FEF4F5;
    color: #0B0614;
    cursor: pointer;
}

.home {
    position: relative;
    background: linear-gradient(0deg, #fff 0%, #F2E3E8 100%);
    z-index: -3;
    border-radius: 24px;
    width: 1360px;
    margin: 0 auto;
}

.home h1 {
    color: #0B0614;
    text-align: center;
    font-size: 110px;
    line-height: 120px;
    position: absolute;
    z-index: -2;
    top: 60px;
    left: 250px;
}

.home img {
    border-radius: 24px;
}

#search {
    margin-bottom: 190px;
}

.search_block {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 30px 60px 0px rgba(198, 191, 191, 0.18);
    margin-top: -50px;
    padding: 30px;
    display: flex;
    align-items: center;
}

.search_item {
    border-right: 1px solid #cdcdd0;
    margin-right: 12px;
    padding-right: 18px;
}

.search_item:last-child {
    border-right: 0;
}

.search_item p {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.5;
    margin: 0 0 10px 0;
    padding-left: 5px;
}

.search_item select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

.search_item select {
    font-size: 20px;
    line-height: 30px;
    opacity: 0.8;
    border: 0;
}

.search_item select:not([multiple]) {
    padding-right: 150px;
    padding-left: 5px;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.25em) 0.1em;
    background-image: url(./img/chevron-down.svg);
  }

  .search_item select:hover {
    cursor: pointer;
  }

.search_item option {
    font-size: 20px;
    line-height: 30px;
    opacity: 0.8;
}

#guides {
    margin-bottom: 190px;
}

.guides_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.guides_title h2 {
    font-size: 64px;
    font-weight: 800;
    line-height: 70px;
}

.guides_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guides_item {
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 30px 60px 0px rgba(198, 191, 191, 0.15), 0px -8px 20px 0px rgba(235, 235, 235, 0.15);
    transition: 0.5s;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guides_item:hover {
    background: #FF5029;
}

.guides_item h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
}

.guides_item p {
    color: rgba(11, 6, 20, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.avatar {
    border: 2px solid #FF5029;
    border-radius: 100px
}

.guides_item:hover h3 {
    color: #FFF;
}

.guides_item:hover p {
    color: #FFF;
}

.stars:nth-of-type(2) {
    display: none;
}

.guides_item:hover .stars:nth-of-type(2) {
    display: flex;
}

.guides_item:hover .stars:nth-of-type(1) {
    display: none;
}

#how_does_it_work {
    margin-bottom: 150px;
}

.works h2 {
    font-size: 64px;
    font-weight: 800;
    line-height: 70px;
    text-align: center;
    margin-bottom: 100px;
}

.works_block {
    display: flex;
}

.works_item {
    padding: 45px 100px;
    border-radius: 20px;
    background: #FEF4F5;
    margin-right: 30px;
    text-align: center;
}

.works_item:last-child {
    margin: 0;
}

.works_item h3 {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 0;
    font-weight: 600;
}

.for_guides {
    position: relative;
    background: url(../img/katerina-kerdi-unsplash.png);
    z-index: -3;
    border-radius: 24px;
    width: 1360px;
    margin: 0 auto;
}

.for_guides h1 {
    color: #0B0614;
    text-align: center;
    font-size: 110px;
    line-height: 120px;
    position: absolute;
    z-index: -2;
    top: 90px;
    left: 215px;
}

.for_guides img {
    border-radius: 24px;
}

.join_block {
    padding: 20px 30px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 30px 60px 0px rgba(198, 191, 191, 0.18);
    margin-bottom: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -100px;
}

.join_block h3 {
    font-size: 40px;
    line-height: 54px;
}

.join_block img {
    margin-left: -20px;
}

.join_block img:first-child {
    margin: 0;
}

#about {
    margin-bottom: 190px;
}

#about h2 {
    font-size: 64px;
    font-weight: 800;
    line-height: 70px;
    text-align: center;
}

.about_block {
    display: flex;
    justify-content: space-between;
}

.about_block a {
    text-decoration: none;
    color: #0B0614;
}

.about_item {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 30px 60px 0px rgba(198, 191, 191, 0.15), 0px -8px 20px 0px rgba(235, 235, 235, 0.15);
    padding: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.about_item img {
    border-radius: 16px;
}

.rose {
    color: #FF5029;
    font-size: 24px;
    border-radius: 12px;
    background: #FEF4F5;
    padding: 8px 20px;
}

.about_discr {
    margin-top: 30px;
}

.about_discr p {
    font-size: 40px;
    line-height: 52px;
    margin-top: 30px;
}

.about_item:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.about_item_small {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 30px 60px 0px rgba(198, 191, 191, 0.15), 0px -8px 20px 0px rgba(235, 235, 235, 0.15);
    padding: 30px;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.about_item_small img {
    border-radius: 20px;
}

.about_item_small:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#footer {
    background: #0B0614;
    color: #FFF;
    padding: 90px 0 40px 0;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer_content h3 {
    margin-bottom: 30px;
}

.company {
    margin-right: 180px;
}

.company h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    margin-top: 10px;
}

.company p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.footer_content ul {
    padding: 0;
    width: 240px;
}

.footer_content li {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    list-style-type: none;
    margin-bottom: 10px;
}

.footer_content a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.footer_content a:hover {
    color: #FF5029;
}

.contacts a {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    margin-left: 30px;
}

.contacts li {
    position: relative;
}

.contacts_mail {
    position: absolute;
    top: 0;
    left: 0;
}

.contacts_map {
    position: absolute;
    top: 0;
    left: 0;
}

.socials {
    display: flex;
    margin-top: 25px;
}

.socials img {
    margin-right: 10px;
    transition: 0.5s;
}

.socials img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.privacy {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: space-between;
}

.privacy p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.privacy a {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
}

.privacy a:hover {
    color: #FF5029;
}
